# Scrape, Process, Filter table from Forbes
https://www.forbes.com/best-professional-recruiting-firms/list/6/#header:headquarters, consulted 9/21/18, 3:27 pm, GMT - 5

In [1]:
import pandas as pd

In [54]:
df = pd.read_excel('Book1.xlsx')
df.head()

,Rank,Company,Website,Headquarters
0,#162,Linium Recruiting,http://www.liniumrecruiting.com,"Albany, New York"
1,#86,Healthcare IT Leaders,http://www.healthcareitleaders.com,"Alpharetta, Georgia"
2,#121,Jackson & Coker,http://www.jacksoncoker.com,"Alpharetta, Georgia"
3,#137,Bowman Williams,http://bowmanwilliams.com,"Arlington, Virginia"
4,#3,Lucas Group,http://www.lucasgroup.com,"Atlanta, Georgia"

In [66]:
df.Headquarters[0].split(',')[0]

'Albany'